{% extends "base.html" %}
{% block title %}{{ 'Settings' }}{% endblock %}

{% block content %}
<div>
    <div class="container col-xxl-8 px-2 py-2 bg-white">
        <div class="row flex-lg-row align-items-center g-0 py-5">
            <div class="col-lg-8">
                <h1 class="display-5 lh-1 mb-3 ms-3">test_name</h1>{# {{ session['username'] }}#}
            </div>
        </div>

        <div class="container-fluid pb-3">
            <div class="d-flex align-items-start">
                <div class="mt-2 nav ps-2 flex-column nav-pills me-3"
                     aria-orientation="vertical">
                    <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('my_diary_page') }}"
                       aria-selected="false">{{ 'My Diary' }}
                    </a>
                    <a class="w-100 btn btn-lg btn-secondary text-light" href="{{ url_for('settings_page') }}"
                       aria-selected="true">{{ 'Settings' }}
                    </a>
                </div>
                <div class="d-flex flex-column flex-grow-1 ms-5">

                    <div class="mb-3">

                        <h1 class="display-5">{{ 'Security' }}</h1>
                        <form method="post">
                            <div class="mb-3">
                                {{ form.nickname.label(class="form-control-label") }}

                                {% if form.nickname.errors %}
                                {{ form.nickname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.nickname.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.nickname(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.password.label(class="form-control-label") }}

                                {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.confirm_password.label(class="form-control-label") }}

                                {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.subscribed_on_daily_phrase(class="form-check-input") }}
                                {{ form.subscribed_on_daily_phrase.label(class="form-check-label") }}
                            </div>
                            <button type="submit" name="password-change"
                                    class="btn btn-lg btn-secondary text-light remove-glow">{{ 'Submit' }}
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">

        {% for m in messages %}
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
             data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto">{{ 'Message' }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ m }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}