{% extends "base.html" %}
{% block title %}{{ 'Awareness' }}{% endblock %}

{% block content %}

<style>
    a {
        text-decoration: none; /* Убираем подчёркивание */
        color: black;
    }
</style>

{% if session['logged_in']%}

<div class="benefits__wrap">
    <h2 class="benefits__title">
        Choose of the options:
    </h2>
    <div class="benefits__cards">
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/Vector.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary by template
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            <a class="link1" href="{{ url_for('template_diaries.get_all_template_diaries') }}"> Get started </a>
        </div>
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/Subtract.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary of emotions
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            <a class="link1" href="{{ url_for('emotion_diaries') }}"> Get started </a>
        </div>
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/OpenBook.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary of situations
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            <a class="link1" href="{{ url_for('situation_diaries') }}"> Get started </a>
        </div>

        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/Outline.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Habit tracker
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the habit tracker
            </p>
            <a class="link1" href="{{ url_for('habit_tracker') }}"> Get started </a>
        </div>
    </div>
</div>

{% else %}

<div class="benefits__wrap">
    <h2 class="benefits__title">
        Choose of the options:
    </h2>
    <div class="benefits__cards1">
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/Vector.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary by template
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            <a class="link1" href="{{ url_for('template_diaries.create_template_diary') }}"> Get started </a>
        </div>
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/Subtract.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary of emotions
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            {#<a class="link1" href="{{ url_for('emotion_diaries.get_all_emotion_diaries') }}"> Get started </a>#}
        </div>
        <div class="benefits__card">
            <div class="benefits__card-pic">
                <img src="/static/img/svg/OpenBook.png" alt="" class="benefits__card-thumb">
            </div>
            <h3 class="benefits__card-title">
                Diary of situations
            </h3>
            <p class="benefits__card-desc">
                Here is a brief description of the diary
            </p>
            {#<a class="link1" href="{{ url_for('situation_diaries.get_all_situation_diaries') }}"> Get started </a>#}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
