{% extends "base.html" %}
{% block title %}{{ Register }}{% endblock %}

{% block content %}

<div class="form-signin text-center mt-4">
    <form method="post">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="../static/logo.png" alt="" width="50" height="50">
        <h1 class="h3 mb-3 fw-normal">{{ 'Register' }}</h1>
        <div class="form-floating">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-floating">
            {{ form.nickname.label(class="form-control-label") }}
            {% if form.nickname.errors %}
            {{ form.nickname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.nickname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.nickname(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-floating">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-floating">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-floating">
            {{ form.subscribed_on_daily_phrase(class="form-check-input") }}
            {{ form.subscribed_on_daily_phrase.label(class="form-check-label") }}
        </div>
        <div class="form-floating" >
            {{ form.submit(class="btn btn-outline-info", onclick="ym(88673079,'reachGoal','register')") }}
        </div>
    </form>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">

    {% for m in messages %}
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">{{ 'Message' }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ m }}
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block scripts %}
<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    })
</script>

{% endblock %}