{% extends "base.html" %}
{% block title %}{{ Template }}{% endblock %}

{% block content %}
<style>
    textarea {
        background: #f2f3f4;
        border: 2px solid #d0d0d0; /* Параметры рамки */
        padding: 10px; /* Поля */
        width: 100%; /* Ширина */
        height: 200px; /* Высота */
        box-sizing: border-box; /* Алгоритм расчёта ширины */
        font-size: 14px; /* Размер шрифта */
    }
</style>
<div class="container col-xxl-8 px-2 py-2 bg-white">
    <img src="/static/img/svg/Vector.png" alt="Template diary:" class="benefits__card-thumb">
    Template diary:
    <form method="post">
        {{ form.hidden_tag() }}
        <h2 class="benefits__title_theme_templates">
            {{ form.theme_1.data }}
        </h2>
        <p>
            {{ form.answer_1.label(class="form-control-label") }}
            {% if form.answer_1.errors %}
            {{ form.answer_1(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.answer_1.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.answer_1(class="form-control form-control-lg") }}
        {% endif %}
        <h2 class="benefits__title_theme_templates">
            {{ form.theme_2.data }}
        </h2>
        <p>
            {{ form.answer_2.label(class="form-control-label") }}
            {% if form.answer_2.errors %}
            {{ form.answer_2(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.answer_2.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.answer_2(class="form-control form-control-lg") }}
        {% endif %}
        <div class="buttons">
            <button class="floating-button" type="submit">{{ 'Save' }}</button>
        </div>
    </form>
</div>

{% endblock %}