<nav class="navbar navbar-expand-lg bg-light-accent">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index_page') }}">
            <img src="/static/logo.png" alt="" width="50" height="50">
        </a>
       <h1 class="ps-2 display-4">{{ _('awareness') }}</h1>
            {% if session['logged_in'] %}
{##}
{#                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end">#}
{#                    <li class="nav-item me-2 mb-2 mb-lg-0 dropdown">#}
{#                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"#}
{#                           data-bs-toggle="dropdown" aria-expanded="false">#}
{#                            {% if session['user_photo'] %}#}
{#                                <img class="bg-light rounded-circle img-cover text-white p-1" width="40" height="40" alt="avatar"#}
{#                                     src="{{ session['user_photo'] }}">#}
{#                            {% else %}#}
{#                                <img class="bg-light rounded-circle text-white p-1" width="40" height="40" alt="avatar"#}
{#                                     src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">#}
{#                            {% endif %}#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">#}
{#                            <li><a class="dropdown-item" href="{{ url_for('my_diary_page') }}">{{ _('My diary') }}</a></li>#}
{#                            <li><a class="dropdown-item" href="{{ url_for('settings_page') }}">{{ _('Settings') }}</a></li>#}
{#                            <li>#}
{#                                <hr class="dropdown-divider">#}
{#                            </li>#}
{#                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">{{ _('Log out') }}</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
            {% else %}

                 <ul class="navbar-nav nav-pills ms-auto mb-2 mb-lg-0 justify-content-end">
                     <li class="nav-item me-2 mb-2 mb-lg-0 text-center">
                        <a class="nav-link" style="color: black !important;" aria-current="page"
                           href="{{ url_for('faq_page') }}">{{ _('FAQ') }}</a>
                    </li>
                    <li class="nav-item me-2 mb-2 mb-lg-0 text-center">
                        <a class="w-100 btn btn btn-secondary text-light " style="color: white !important;" aria-current="page"
                           href="{{ url_for('login_page') }}">{{ _('Login') }}</a>
                    </li>
                    <li class="nav-item me-2 mb-2 mb-lg-0 text-center">
                        <a class="w-100 btn btn btn-secondary text-light " style="color: white !important;"
                           href="{{ url_for('registration_page') }}">{{ _('Sign Up') }}</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>