{% extends "base.html" %}
{% block title %}{{ _('diary_of_templates') }}{% endblock %}

{% block content %}
<!--{#    {% if session['logged_in']%}#}-->
<style>
   textarea {
    background: #f2f3f4;
    border: 2px solid #d0d0d0; /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 100%; /* Ширина */
    height: 200px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
   }
  </style>
<div class="container col-xxl-8 px-2 py-2 bg-white">
                <h2 class="benefits__title">
                    <img src="/static/img/svg/Vector.png" alt="Diary of templates:" class="benefits__card-thumb">
                    Diary of templates:
                    <form>
                    <h2 class="benefits__title_theme_templates">
                    {{ _('Theme №1') }}
                    </h2>
                        <p><textarea name="comment"></textarea></p>
                     <h2 class="benefits__title_theme_templates">
                    {{ _('Theme №2') }}
                    </h2>
                        <p><textarea name="comment1"></textarea></p>
                        <button class="floating-button" type="submit">{{ _('Save') }}</button>
                    </form>
                </h2>
    </div>

<!--{#   {% else %}#}-->

{##}
{#      {% endif %}#}
{% endblock %}