{% extends "base.html" %}
{% block title %}{{ _('My Diary') }}{% endblock %}

{% block content %}
 <style>
   a {
    text-decoration: none; /* Убираем подчёркивание */
   }
  </style>
    <div class="container col-xxl-8 px-2 py-2 bg-white">
        <div class="row flex-lg-row align-items-center g-0 py-5">
            <div class="col-10 col-sm-8 col-lg-4 mb-3 mx-auto px-4 py-4 d-flex justify-content-center">
                {% if session['user_photo'] %}
                    <img class="bg-light rounded-circle d-block img-cover text-white p-1" width="150" height="150"
                         alt="avatar"
                         src="{{ session['user_photo'] }}">
                {% else %}
                    <img class="bg-light rounded-circle d-block img-fluid text-white p-1" width="150" height="150"
                         alt="avatar"
                         src="https://raw.githubusercontent.com/twbs/icons/main/icons/person.svg">
                {% endif %}
            </div>
            <div class="col-lg-8">
               <h1 class="display-5 lh-1 mb-3 ms-3">test_name</h1>{# {{ session['username'] }}#}
            </div>
        </div>

        <div class="container-fluid">
            <div class="d-flex align-items-start">
                <div class="mt-2 nav ps-2 flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="w-100 btn btn-lg btn-secondary text-light" href="{{ url_for('my_diary_page') }}"
                       aria-selected="true">{{ _('My Diary') }}
                    </a>
                    <a class="nav-link btn btn-lg remove-glow" href="{{ url_for('settings_page') }}"
                       aria-selected="false">{{ _('Settings') }}
                    </a>
                </div>
                <div class="d-flex flex-column flex-grow-1 ms-5">

                        <div  class="card mb-3 shadow-lg ">
                            <div class="card-body">
                                <ul class="diary__title">
                                    <a class="link_list_diary" href="{{ url_for('diary_of_templates') }}"> Diary of template </a>
                                </ul>
                            </div>

                        </div>
                        <div class="card mb-3 shadow-lg ">
                              <div class="card-body">
                                  <ul class="diary__title">
                                    <a class="link_list_diary" href="{{ url_for('diary_of_emotions') }}"> Diary of emotions</a>
                                  </ul>
                            </div>
                        </div>
                        <div class="card mb-3 shadow-lg ">
                              <div class="card-body">
                                  <ul class="diary__title">
                                     <a class="link_list_diary" href="{{ url_for('diary_of_situations') }}">Diary of situations</a>
                                  </ul>
                            </div>
                        </div>
                         <div class="card mb-3 shadow-sm ">
                              <div class="card-body">
                                  <ul class="diary__title">
                                    <a class="link_list_diary" href="{{ url_for('habit_tracker') }}">Habit tracker</a>
                                  </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
